# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Локальные данные (если не коммитишь их)
data/
logs/

# Крупные numpy-файлы (если не нужны в репо)
*.npy
*.npz
